---
layout: page
title: Portal Pembayaran
weight: 4
permalink: /pay/

<style>.tcolor{color:#002863}.lang-btn{width:15%!important}</style>

<div class="col text-center tcolor mx-auto" style="height: 100vh; max-width: 500px;">
  <div class="d-flex justify-content-center mt-5">
    <img class="w-100" src="/helmiau/helmilogo-new.svg" alt="main-image" loading="lazy" style="max-height: 30vh;">
  </div>
  <div class="d-flex justify-content-center my-3" lang="id">
    <center>
      <a class="btn" role="button" aria-label="en-btn" href="/pay/en/">
        English
      </a>
      <span>|</span>
      <a class="btn disabled text-black-50" role="button" aria-label="id-btn">
        Indonesia
      </a>
    </center>
  </div>
  <div class="d-flex justify-content-center">
    <h5 class="my-2"><strong>{{ site.data.payments.header.title_id }}</strong></h5>
  </div>
  <div class="text-center d-flex d-xl-flex justify-content-center justify-content-xl-center">
    <p class="text-center d-xl-flex justify-content-xl-center w-75">{{ site.data.payments.header.desc_id }}</p>
  </div>

  {% include payment-methods.html %}

  <h5 class="my-2"><strong>Konfirmasi Pembayaran</strong></h5>
  <div class="mt-4 text-center mx-auto">
    <a class="btn btn-success btn-block btn-lg" target="_blank" href="{{ site.data.payments.header.confirm.whatsapp }}">
      <i class="fab fa-whatsapp"></i>&nbsp;Via WhatsApp</a>
    <br>
    <a class="btn btn-primary btn-block btn-lg" target="_blank" href="{{ site.data.payments.header.confirm.telegram }}">
      <i class="fab fa-telegram"></i>&nbsp;Via Telegram</a>
  </div>
  <br>
  <h5 class="my-2"><strong>Lainnya</strong></h5>
  <div class="mt-4 text-center mx-auto">
    <a class="btn btn-dark btn-block btn-lg" href="{{ site.data.payments.header.others.jasa }}">
      <i class="fas fa-store"></i>&nbsp;Halaman Jasa & Layanan</a>
    <br>
    <a class="btn btn-dark btn-block btn-lg" target="_blank" href="{{ site.data.payments.header.others.site }}">
      <i class="fab fa-safari"></i>&nbsp;Situs Web & Blog</a>
    <br>
    <button id="bagikan_helmiau" class="btn btn-dark btn-block btn-lg">
      <i class="fas fa-share-square"></i>&nbsp;Bagikan Halaman Ini
    </button>
  </div>

  {% include cookie-consent.html %}

  <script>
    document.querySelector('#bagikan_helmiau')
      .addEventListener('click', event => {
        if (navigator.share) {
          navigator.share({
            title: document.title,
            text: "Kunjungi Situs Pembayaran Helmi Amirudin di " + window.location.href + " yaa, Terima kasih! "
          }).then(() => {
            console.log('Terima kasih sudah berbagi!');
          }).catch(err => {
            console.log("Terjadi kesalahan ketika menggunakan Web API:");
            console.log(err);
          });
        } else {
          alert("Gunakan HTTPS, atau browser browser lain.");
        }
      })
  </script>

  <p class="text-center">Copyright by <a href="https://www.helmiau.com">Helmi Amirudin</a> ® 2025 🤝</p>
</div>