---
layout: page
title: Payment Portal
weight: 4
permalink: /pay/en/
---

<style>.tcolor{color:#002863}.lang-btn{width:15%!important}</style>

<div class="col text-center tcolor mx-auto" style="height: 100vh; max-width: 500px;">
  <div class="d-flex justify-content-center mt-5">
    <img class="w-100" src="/helmiau/helmilogo-new.svg" alt="main-image" loading="lazy" style="max-height: 30vh;">
  </div>
  <div class="d-flex justify-content-center my-3" lang="en">
    <center>
      <a class="btn disabled text-black-50" role="button" aria-label="en-btn">
        English
      </a>
      <span>|</span>
      <a class="btn" role="button" aria-label="id-btn" href="/pay/">
        Indonesia
      </a>
    </center>
  </div>
  <div class="d-flex justify-content-center">
    <h5 class="my-2"><strong>{{ site.data.payments.header.title_en }}</strong></h5>
  </div>
  <div class="text-center d-flex d-xl-flex justify-content-center justify-content-xl-center">
    <p class="text-center d-xl-flex justify-content-xl-center w-75">{{ site.data.payments.header.desc_en }}</p>
  </div>

  {% include payment-methods.html %}

  <h5 class="my-2"><strong>Payment Confirmation</strong></h5>
  <div class="mt-4 text-center mx-auto">
    <a class="btn btn-success btn-block btn-lg" target="_blank" href="{{ site.data.payments.header.confirm.whatsapp }}">
      <i class="fab fa-whatsapp"></i>&nbsp;Via WhatsApp</a>
    <br>
    <a class="btn btn-primary btn-block btn-lg" target="_blank" href="{{ site.data.payments.header.confirm.telegram }}">
      <i class="fab fa-telegram"></i>&nbsp;Via Telegram</a>
  </div>
  <br>
  <h5 class="my-2"><strong>Others</strong></h5>
  <div class="mt-4 text-center mx-auto">
    <a class="btn btn-dark btn-block btn-lg" href="{{ site.data.payments.header.others.jasa }}">
      <i class="fas fa-store"></i>&nbsp;Services Page</a>
    <br>
    <a class="btn btn-dark btn-block btn-lg" target="_blank" href="{{ site.data.payments.header.others.site }}">
      <i class="fab fa-safari"></i>&nbsp;Website & Blog</a>
    <br>
    <button id="bagikan_helmiau" class="btn btn-dark btn-block btn-lg">
      <i class="fas fa-share-square"></i>&nbsp;Share This Page
    </button>
  </div>

  {% include cookie-consent.html %}

  <script>
    document.querySelector('#bagikan_helmiau')
      .addEventListener('click', event => {
        if (navigator.share) {
          navigator.share({
            title: document.title,
            text: "Visit Helmi Amirudin Payment Portal at " + window.location.href + " , Thank you! "
          }).then(() => {
            console.log('Thanks for sharing!');
          }).catch(err => {
            console.log("Error using Web API:");
            console.log(err);
          });
        } else {
          alert("Please use HTTPS, or another browser.");
        }
      })
  </script>

  <p class="text-center">Copyright by <a href="https://www.helmiau.com">Helmi Amirudin</a> ® 2025 🤝</p>
</div>