<!-- GitHub Buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- jQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper.js CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

<!-- Bootstrap JS CDN -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- wow.js CDN & Activation -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
<script> new WOW().init(); </script>

<!-- Google Ads -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2465162923324707"
     crossorigin="anonymous"></script>

<!-- Initialize all tooltips -->
<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip()
})
</script>

<!-- safelinku -->
<script src="https://safelinku.com/js/web-script.js"></script>
<script type="text/javascript">
    var go_url = 'https://cararegistrasi.com/';
    var api = 'd10ee7cc102cb0852479b0f136af34e4f4f85c6d';
    var shorten_includ = ["github.com","t.me","facebook.com","fb.me","google.com"];
</script>

<!-- Adblock Detector -->
<script>
<!-- Safelinku Adblock Detector -->
let safelinku = document.createElement('script');
safelinku.src = "https://safelinku.com/js/web-script.js";
document.head.append(safelinku);
safelinku.onerror = function () {
  console.log("Error occured when loading " + this.src + " script ,Adblocker Detected! Please disable it first!.");
};
<!-- HelmiIklan1 Adblock Detector -->
let helmiiklan1 = document.createElement('script');
helmiiklan1.src = "/assets/js/ads.js";
document.head.append(helmiiklan1);
helmiiklan1.onerror = function () {
  console.log("Error occured when loading " + this.src + " script ,Adblocker Detected! Please disable it first!.");
};
<!-- HelmiIklan2 Adblock Detector -->
let helmiiklan2 = document.createElement('script');
helmiiklan2.src = "/assets/js/prebid.js";
document.head.append(helmiiklan2);
helmiiklan2.onerror = function () {
  console.log("Error occured when loading " + this.src + " script ,Adblocker Detected! Please disable it first!.");
};
<!-- HelmiIklan3 Adblock Detector -->
let helmiiklan3 = document.createElement('script');
helmiiklan3.src = "/assets/js/prebid-ads.js";
document.head.append(helmiiklan3);
helmiiklan3.onerror = function () {
  console.log("Error occured when loading " + this.src + " script ,Adblocker Detected! Please disable it first!.");
};
</script>