---
layout: page
---

<h1><b>{{ page.title }}</b></h1>

<p class="post-metadata text-muted">
  {{ page.date | date_to_long_string }} -  
  <b>
  {%- assign words = content | number_of_words -%}
  {%- if words < 360 -%}
    less than 1 min read time
  {%- else -%}
    {{ words | divided_by: 180 }} mins read time
  {%- endif -%}
  </b>

  <br>

  {%- if page.tags != empty -%}
    Tags: 
    {% for tag in page.tags %}
    <a class="text-decoration-none no-underline" href="{{ tag | slugify | prepend:'/blog/tags#' | relative_url }}">
      <span class="tag badge badge-pill text-primary border border-primary">{{ tag }}</span>
    </a>
    {% endfor %}
  {%- endif -%}

</p>

<!-- Safelinku Detect -->
<script src="https://safelinku.com/js/web-script.js"></script>
<script type="text/javascript">
	try {
		app_get_url();
	}
	catch (err) {
		console.log(err);
		window.open("/404.html", "_self");
	}
</script>

<!-- HelmXklan Adjs Detect -->
<script src="/assets/js/ads.js"></script>
<script type="text/javascript">
	try {
		FuncHelmiAmirudinRunAds();
		if (VarHelmiAmirudinRunAds === null) { 
			console.log('VarHelmiAmirudinRunAds is Null or undefined value!');
			window.open("/404.html", "_self");
		}
	}
	catch (err) {
		console.log('FuncHelmiAmirudinRunAds is not function!');
		window.open("/404.html", "_self");
	}
</script>

<!-- HelmXklan Prebid Detect -->
<script src="/assets/js/prebid.js"></script>
<script type="text/javascript">
	try {
		FuncHelmiAmirudinRunPrebid();
		if (VarHelmiAmirudinRunPrebid === null) { 
			console.log('VarHelmiAmirudinRunAds is Null or undefined value!');
			window.open("/404.html", "_self");
		}
	}
	catch (err) {
		console.log('FuncHelmiAmirudinRunPrebid is not function!');
		window.open("/404.html", "_self");
	}
</script>

<!-- HelmXklan PrebidsAds Detect -->
<script src="/assets/js/prebid-ads.js"></script>
<script type="text/javascript">
	try {
		FuncHelmiAmirudinRunPrebidAds();
		if (VarHelmiAmirudinRunPrebidAds === null) { 
			console.log('VarHelmiAmirudinRunAds is Null or undefined value!');
			window.open("/404.html", "_self");
		}
	}
	catch (err) {
		console.log('FuncHelmiAmirudinRunPrebidAds is not function!');
		window.open("/404.html", "_self");
	}
</script>

<!-- NikolaITXKlan Detect -->
<script src="https://raw.githubusercontent.com/NikolaiT/adblock-detect-javascript-only/master/dist/adblockDetector.min.js"></script>
<script type="text/javascript">
	try {
		detectAdblock().then((res) => {
			console.log('Using Adblocker: ${JSON.stringify(res)}');
			window.open("/404.html", "_self");
		});
	}
	catch (err) {
		console.log('NikolaAdblock is undetected!');
		window.open("/404.html", "_self");
	}
</script>
 
<!-- trakteer widget -->
<br>
<center>
<script type='text/javascript' src='/assets/js/trbtn.min.js'></script>
<script type='text/javascript'>
(function(){var trbtnId=trbtn.init('Dukung Saya Dengan Donasi','#1E86B6','https://www.helmiau.com/pay/index_en.html','https://cdn.trakteer.id/images/embed/trbtn-icon.png','40');trbtn.draw(trbtnId);})();
</script>
</center>
<br>

{{ content }}

<!-- trakteer widget -->
<br>
<center>
<script type='text/javascript' src='/assets/js/trbtn.min.js'></script>
<script type='text/javascript'>
(function(){var trbtnId=trbtn.init('Dukung Saya Dengan Donasi','#1E86B6','https://www.helmiau.com/pay/index_en.html','https://cdn.trakteer.id/images/embed/trbtn-icon.png','40');trbtn.draw(trbtnId);})();
</script>
</center>
<!-- trakteer widget -->
<br>

{% if page.comments %}
<div class="pt-5">
  {% include blog/disqus.html %}
</div>
{% endif %}