---
layout: page
---

<h1><b>{{ page.title }}</b></h1>

<p class="post-metadata text-muted">
  {{ page.date | date_to_long_string }} -  
  <b>
  {%- assign words = content | number_of_words -%}
  {%- if words < 360 -%}
    less than 1 min read time
  {%- else -%}
    {{ words | divided_by: 180 }} mins read time
  {%- endif -%}
  </b>

  <br>

  {%- if page.tags != empty -%}
    Tags: 
    {% for tag in page.tags %}
    <a class="text-decoration-none no-underline" href="{{ tag | slugify | prepend:'/blog/tags#' | relative_url }}">
      <span class="tag badge badge-pill text-primary border border-primary">{{ tag }}</span>
    </a>
    {% endfor %}
  {%- endif -%}

</p>

<!-- Safelinku Detect -->
<script type="text/javascript">
	if (typeof me.onChange === "function") { 
		console.log('Safelinku loaded, site can be accessed.');
	}
	else {
		console.log('Safelinku unloaded.');
		window.open("/404.html", "_self");
	}
</script>

<!-- HelmXKlan Detect -->
<script type="text/javascript">
FuncHelmiAmirudinRunAds();
FuncHelmiAmirudinRunPrebid();
FuncHelmiAmirudinRunPrebidAds();
if( window.VarHelmiAmirudinRunAds === undefined ){
	console.log('VarHelmiAmirudinRunAds unloaded');
	window.open("/404.html", "_self");
}
if( window.VarHelmiAmirudinRunPrebid === undefined ){
	console.log('VarHelmiAmirudinRunPrebid unloaded');
	window.open("/404.html", "_self");
}
if( window.VarHelmiAmirudinRunPrebidAds === undefined ){
	console.log('VarHelmiAmirudinRunPrebidAds unloaded');
	window.open("/404.html", "_self");
}
</script>

<!-- trakteer widget -->
<br>
<center>
<script type='text/javascript' src='/assets/js/trbtn.min.js'></script>
<script type='text/javascript'>
(function(){var trbtnId=trbtn.init('Dukung Saya Dengan Donasi','#1E86B6','https://www.helmiau.com/pay/index_en.html','https://cdn.trakteer.id/images/embed/trbtn-icon.png','40');trbtn.draw(trbtnId);})();
</script>
</center>
<br>

{{ content }}

<!-- trakteer widget -->
<br>
<center>
<script type='text/javascript' src='/assets/js/trbtn.min.js'></script>
<script type='text/javascript'>
(function(){var trbtnId=trbtn.init('Dukung Saya Dengan Donasi','#1E86B6','https://www.helmiau.com/pay/index_en.html','https://cdn.trakteer.id/images/embed/trbtn-icon.png','40');trbtn.draw(trbtnId);})();
</script>
</center>
<!-- trakteer widget -->
<br>

{% if page.comments %}
<div class="pt-5">
  {% include blog/disqus.html %}
</div>
{% endif %}